<div id="body">
	<div class="bg"></div>

	<section class="banner-contents  firstbgimg">
		<div class="container">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="item col-md-12">
							<h2 style="margin-bottom: 30px;font-size: 29px;"><%=lang.section1.slide1.title1%></h2>
							<h3 style="margin-bottom: 30px;font-size: 26px;"><%=lang.section1.slide1.title2%></h3>
							<p style="opacity:0.8;font-size:14px;text-align: left;">
								<%=lang.section1.slide1.introduce%>
							</p>
							<a class="btn firstBtn" href="https://www.lambda.im/doc/Lambda-WhitePaper-en.pdf" target="_blank"><%=lang.section1.slide1.btnName%></a>
							<div class="contact">
								<ul>
									<li>
										<a href="https://t.me/HelloLambda" target="_blank">
											<img alt="telegram" src="<%= require('../../img/index/telegram.png') %>" />
										</a>
									</li>
									<li>
										<a href="https://twitter.com/Lambdaim" target="_blank">
											<img alt="twitter" src="<%= require('../../img/index/twitter.png') %>" />
										</a>
									</li>
									<li class="wechatitem">
										<a href="https://mp.weixin.qq.com/s/rW3pOxzJwI1HXrTESTYxWA" target="_blank">
											<img alt="wechat" src="<%= require('../../img/index/wechat.png') %>" />
										</a>
										<img alt="weichhart lambda" style="width:100px" class="wechatQRcode" src="<%= require('../../img/index/wechartrq.jpg') %>" />
									</li>
									<li>
										<a href="https://www.facebook.com/Lambdaim" target="_blank">
											<img alt="facebook" src="<%= require('../../img/index/facebook.png') %>" />
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/company/lambdaim" target="_blank">
											<img alt="linkedin" src="<%= require('../../img/index/linkedin.png') %>" />
										</a>
									</li>
									<li>
										<a href="https://www.weibo.com/lambdaim?is_all=1" target="_blank">
											<img alt="weibo" src="<%= require('../../img/index/weibo.png') %>" />
										</a>
									</li>


								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="item2 col-md-12">
							<h2 style="margin-bottom: 30px;font-size: 29px;"> <%=lang.section1.slide2.title1%></h2>
							<h2 style="margin-bottom: 30px;font-size: 29px;"><%=lang.section1.slide2.title2%></h2>
							<h3 style="margin-bottom: 30px;font-size: 26px;"><%=lang.section1.slide2.title3%></h3>
							<p style="opacity:0.8;font-size:14px;text-align: left;width: 90%">
								<%=lang.section1.slide2.introduce%>
							</p>
							<div class="logo-container">
								<a href="">
									<img src="<%= require('../../img/index/fimg2.png') %>" alt="lambda">
								</a>
							</div>
							<a class="btn firstBtn" href="https://www.lambda.im/doc/Lambda-Economic-White-Paper.pdf" target="_blank"><%=lang.section1.slide2.btnName%></a>
							<div class="contact">
								<ul>
									<li>
										<a href="https://t.me/HelloLambda" target="_blank">
											<img alt="telegram" src="<%= require('../../img/index/telegram.png') %>" />
										</a>
									</li>
									<li>
										<a href="https://twitter.com/Lambdaim" target="_blank">
											<img alt="twitter" src="<%= require('../../img/index/twitter.png') %>" />
										</a>
									</li>
									<li class="wechatitem">
										<a href="https://mp.weixin.qq.com/s/rW3pOxzJwI1HXrTESTYxWA" target="_blank">
											<img alt="wechat" src="<%= require('../../img/index/wechat.png') %>" />
										</a>
										<img alt="weichhart lambda" style="width:100px" class="wechatQRcode" src="<%= require('../../img/index/wechartrq.jpg') %>" />
									</li>
									<li>
										<a href="https://www.facebook.com/Lambdaim" target="_blank">
											<img alt="facebook" src="<%= require('../../img/index/facebook.png') %>" />
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/company/lambdaim" target="_blank">
											<img alt="linkedin" src="<%= require('../../img/index/linkedin.png') %>" />
										</a>
									</li>
									<li>
										<a href="https://www.weibo.com/lambdaim?is_all=1" target="_blank">
											<img alt="weibo" src="<%= require('../../img/index/weibo.png') %>" />
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination">
				</div>
			</div>
		</div>
	</section>

	<section id="demo" class="use demo">
		<div class="container">
			<h1><%=lang.section2.title%></h1>
			<div class="crowd col-md-12" style="text-align: left">
				<p style="opacity:0.8;font-size:14px;text-align: left;    width: 90%">
					<%=lang.section2.introduce%>
				</p>
				<div class="col-xs-12">
					<img width="50%" alt="demo pdp" src="<%= require('../../img/demo/pdp.jpg') %>" >
				</div>
				<p style="opacity:0.8;font-size:14px;text-align: left;    width: 90%">
					<a style="padding: 6px" class="btn sendBtn" href="https://github.com/LambdaIM/demo" target="_blank"><%=lang.section2.btnName%></a>
				</p>
			</div>
		</div>
	</section>

	<section id="scene" class="scene use">
		<div class="container">
			<h1><%=lang.section3.title%></h1>
			<div class="row wrapper">
				<div class=" scene-item col-lg-w-30 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img alt="<%=lang.section3.title%>" src="<%= require('../../img/index/scene-log1.png') %>" >
					</div>
					<h2 class="title"><%=lang.section3.item1.title%></h2>
					<p class="intro"><%=lang.section3.item1.introduce%></p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img alt="<%=lang.section3.title%>" src="<%= require('../../img/index/scene-log2.png') %>" >
					</div>
					<h2 class="title"><%=lang.section3.item2.title%></h2>
					<p class="intro"><%=lang.section3.item2.introduce%></p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img alt="<%=lang.section3.title%>" src="<%= require('../../img/index/scene-log3.png') %>" >
					</div>
					<h2 class="title"><%=lang.section3.item3.title%></h2>
					<p class="intro"><%=lang.section3.item3.introduce%></p>
				</div>
				<div class="scene-item col-lg-w-30 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img alt="<%=lang.section3.title%>" src="<%= require('../../img/index/scene-log4.png') %>" >
					</div>
					<h2 class="title"><%=lang.section3.item4.title%></h2>
					<p class="intro"><%=lang.section3.item4.introduce%></p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img alt="<%=lang.section3.title%>" class="car" src="<%= require('../../img/index/scene-log5.png') %>" >
					</div>
					<h2 class="title"><%=lang.section3.item5.title%></h2>
					<p class="intro"><%=lang.section3.item5.introduce%></p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img alt="<%=lang.section3.title%>" src="<%= require('../../img/index/scene-log6.png') %>" >
					</div>
					<h2 class="title"><%=lang.section3.item6.title%></h2>
					<p class="intro"><%=lang.section3.item6.introduce%></p>
				</div>
			</div>
		</div>
	</section>

	<section id="design" class="use design">
		<div class="container">
			<h1><%=lang.section4.title%></h1>
			<!-- <span>ARCHITECTURE DESIGN</span> -->
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<img alt="<%=lang.section3.title%>" src="<%= require('../../img/index/design.png') %>" >
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title"><%=lang.section4.item1.title%></p>
						<p class="intro"><%=lang.section4.item1.introduce%></p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title"><%=lang.section4.item2.title%></p>
						<p class="intro"><%=lang.section4.item2.introduce%></p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title"><%=lang.section4.item3.title%></p>
						<p class="intro"><%=lang.section4.item3.introduce%></p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title"><%=lang.section4.item4.title%></p>
						<p class="intro"><%=lang.section4.item4.introduce%></p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title"><%=lang.section4.item5.title%></p>
						<p class="intro"><%=lang.section4.item5.introduce%></p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title"><%=lang.section4.item6.title%></p>
						<p class="intro"><%=lang.section4.item6.introduce%></p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title"><%=lang.section4.item7.title%></p>
						<p class="intro"><%=lang.section4.item7.introduce%></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="principle" class="use principle">
		<div class="container">
			<h1><%=lang.section5.title%></h1>
			<!-- <span>WORKING PRINCIPLE</span> -->
			<div class="row">
				<div class="col-xs-12 ">
					<div class="tab-btn">
						<div class="line"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p><%=lang.section5.item1.title%></p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p><%=lang.section5.item2.title%></p>
						</div>
						<div class="item col-md-2 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p><%=lang.section5.item3.title%></p>
						</div>
						<div class="item col-md-2 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p><%=lang.section5.item4.title%></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10">
					<div class="tab-contents">
						<div class="contents-active">
							<img alt="WORKING PRINCIPLE" class="work-img" src="<%= require('../../img/index/yl-1.png') %>" >
							<p class="work-intro" style="opacity:0.8"><%=lang.section5.item1.introduce%></p>
						</div>
						<div>
							<img alt="WORKING PRINCIPLE" class="work-img" src="<%= require('../../img/index/yl-2.png') %>" >
							<p class="work-intro"><%=lang.section5.item2.introduce%></p>
						</div>
						<div>
							<img alt="WORKING PRINCIPLE" class="work-img" src="<%= require('../../img/index/yl-3.png') %>" >
							<p class="work-intro"><%=lang.section5.item3.introduce%></p>
						</div>
						<div>
							<img alt="WORKING PRINCIPLE" class="work-img" src="<%= require('../../img/index/yl-4.png') %>" >
							<p class="work-intro"><%=lang.section5.item4.introduce%></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="ecosystem" class="use ecosystem">
		<div class="container">
			<h1>ECOSYSTEM</h1>
			<!-- <span>ECOSYSTEM</span> -->
			<div class="row">
				<div class="col-xs-12">
					<img alt="ECOSYSTEM" src="<%= require('../../img/index/Group2x.png') %>" >
				</div>
				<div class="col-md-offset-1 col-md-10 col-sm-12 col-xxs-12">
					<p style="text-align:center;opacity:0.8">Unlike other blockchains, Lambda is a blockchain data storage
						infrastructure.
						The roles of this ecosystem are DAPP developers and project parties, chain node participants, storage node
						participants
						and other participants, in which chain node participants include nominees, validators and fishermen. Lambda
						provides
						storage, computing, transaction, and other service capabilities. Therefore, roles encompassing resource
						providers,
						task creators for submitting data storage and computation tasks, software developers, and data analysts also
						involve
						and comprise Lambda's interdependent ecosystem.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="tokensale" class="use tokensale">
		<div class="container">
			<h1>TOKEN DISTRIBUTION</h1>
			<!-- <span>ECOSYSTEM</span> -->
			<div class="row">
				<div class="col-xs-12">
					<img alt="TOKEN DISTRIBUTION" src="<%= require('../../img/index/tokensale3.jpg') %>" >
				</div>
				<!-- <div class="col-md-offset-1 col-md-10 col-sm-12 col-xxs-12">
					<p style="text-align:center;opacity:0.8">SSS.</p>
				</div> -->
			</div>
		</div>
	</section>

	<section id="roadmap" class="use roadmap">
		<div class="container">
			<h1>ROADMAP</h1>
			<div class="row" style="position:relative">
				<div class="col-md-offset-1 col-md-11 box-wrapper">
					<div class="row">
						<div class="col-sm-2 col-xxs-2">
							<div class="nc-wrapper">
								<span class="left-num color-show">1</span>
								<div class="circle-icon ">
									<div class="column-line "></div>
									<i></i>
								</div>
							</div>
						</div>
						<div class="p-l-0 col-sm-10 col-xxs-10">
							<div class="year-list">
								<span class="num">2017 Q4</span>
								<h2 class="title">Lambda technology demonstration and research</h2>
								<ul>
									<li>In-depth study the technology architecture of public chains and basic protocol, and the core team read a
										lot
										of codes and papers</li>
									<li>Demonstrate the calculation and storage model of massive data in the Permissionless environment</li>
									<li>Demonstrate the connection between OAS business model and Token economy</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">
							<div class="nc-wrapper">
								<span class="left-num color-show">2</span>
								<div class="circle-icon">
									<i></i>
								</div>
							</div>
						</div>
						<div class="p-l-0 col-sm-10 col-xxs-10">
							<div class="year-list">
								<span class="num">2018 Q1</span>
								<h2 class="title">Lambda technology demonstration and research</h2>
								<ul>
									<li>Choose an appropriate blockchain consensus mechanism, determine to adopt the high-speed chain design of
										the
										Sharding program, and the HoneyBadgerBFT consensus algorithm of the subchain</li>
									<li>Determine to adopt multi-sub-chain design that Request and Reponse record separately</li>
									<li>Perfect the separated structural design of the chain storehouses</li>
									<li>Determine to adopt the data ownership proofs of PDP and access control and encryption mechanisms of ABE</li>
									<li>Determine the technological route and technological program</li>
									<li>Complete the technological white paper</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">
							<div class="nc-wrapper">
								<span class="left-num color-show">3</span>
								<div class="circle-icon ">
									<i></i>
								</div>
							</div>
						</div>
						<div class="p-l-0 col-sm-10 col-xxs-10">
							<div class="year-list">
								<span class="num">2018 Q3</span>
								<h2 class="title">Lambda core component development</h2>
								<ul>
									<li>Evaluate and test the performance of libp2p and devp2p, and modify the code .</li>
									<li>Implement the underlying data block storage system.</li>
									<li>Technology validation of Lambda FS by closed-source development of Lambda Chain</li>
									<li>Community development and real-time open source of Lambda FS </li>
									<li>Implement Lambda database based on Lambda FS</li>
									<li>Develop Lambda Agent based on hot language to facilitate integration with existing application</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">
							<div class="nc-wrapper">
								<span class="left-num color-show">4</span>
								<div class="circle-icon">
									<i></i>
								</div>
							</div>
						</div>
						<div class="p-l-0 col-sm-10 col-xxs-10">
							<div class="year-list">
								<span class="num">2018 Q4</span>
								<h2 class="title">Lambda Chain test network development</h2>
								<ul>
									<li>P2P network development is used to synchronize blockchain ledgers and storage data.</li>
									<li>Virtual machine development and development and validation of built-in contracts</li>
									<li>API interface, RPC interface, command line and peripheral tools development</li>
									<li>Open source Lambda Chain</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">
							<div class="nc-wrapper">
								<span class="left-num color-show">5</span>
								<div class="circle-icon ">
									<i></i>
								</div>
							</div>
						</div>
						<div class="p-l-0 col-sm-10 col-xxs-10">
							<div class="year-list">
								<span class="num">2019 Q1</span>
								<h2 class="title">Test network construction and development based on Lambda paradigms</h2>
								<ul>
									<li>Build a large-scale test network based on community and conduct comprehensive testing</li>
									<li>Issue LDA to encourage early community enthusiasts to develop Lambda-based application paradigms</li>
									<li>Test and correct the security and business vulnerabilities of the application paradigms based on the test
										network</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">
							<div class="nc-wrapper">
								<span class="left-num color-show">6</span>
								<div class="circle-icon">
									<i></i>
								</div>
							</div>
						</div>
						<div class="p-l-0 col-sm-10 col-xxs-10">
							<div class="year-list">
								<span class="num">2019 Q2</span>
								<h2 class="title">Expansion of other data service capabilities and data transactions</h2>
								<ul>
									<li>Launched by the Foundation to encourage more data storage and database service capabilities to access the
										Lambda
										ecosystem
									</li>
									<li>Explore data transactions business scenarios and patterns within the Lambda ecosystem</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="team" class="use team">
		<div class="container">
			<h1>CORE TEAM</h1>
			<!-- <span>CORE TEAM</span> -->
			<div class="row team-wrapper">
				<div class="col-md-2 col-xxs-4">
					<div class="head">
						<div class="head-wrapper">
							<a target="_blank" class="userimga" href="https://www.linkedin.com/in/xiaoyang-he-0083b428/">
								<img alt="He Xiaoyang" src="<%= require('../../img/index/hxy.png') %>">
								<img alt="linkedin" class="userlinkimg" src="<%= require('../../img/index/linkedin.png') %>" >

							</a>
						</div>
						<p class="name">

							<a href="https://www.linkedin.com/in/xiaoyang-he-0083b428/">He Xiaoyang</a>

						</p>

					</div>
				</div>
				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<a target="_blank" class="userimga" href="https://www.linkedin.com/in/monanli/">
								<img alt="Li Monan" src="<%= require('../../img/index/lmn.png') %>">
								<img alt="linkedin" class="userlinkimg" src="<%= require('../../img/index/linkedin.png') %>" >
							</a>
						</div>
						<p class="name">
							<a href="https://www.linkedin.com/in/monanli/">Li Monan</a>
						</p>
					</div>
				</div>

				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<a target="_blank" class="userimga" href="https://www.linkedin.com/in/bingqing-he-119019b1/">
								<img alt="He Bingqing" src="<%= require('../../img/index/hbq.png') %>">
								<img alt="linkedin" class="userlinkimg" src="<%= require('../../img/index/linkedin.png') %>" >
							</a>
						</div>
						<p class="name">
							<a target="_blank" href="https://www.linkedin.com/in/bingqing-he-119019b1/">
								He Bingqing
							</a>
						</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<a target="_blank" class="userimga" href="https://www.linkedin.com/in/hongqiangguo/">
								<img alt="Guo Hongqiang" src="<%= require('../../img/index/ghq.png') %>">
								<img alt="linkedin" class="userlinkimg" src="<%= require('../../img/index/linkedin.png') %>" >
							</a>
						</div>
						<p class="name">
							<a href="https://www.linkedin.com/in/hongqiangguo/">Guo Hongqiang</a>
						</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4">
					<div class="head">
						<div class="head-wrapper">
							<a target="_blank" class="userimga" href="https://www.linkedin.com/in/%E6%B5%B7%E5%BC%BA-%E9%AB%98-187a60166/">
								<img src="<%= require('../../img/index/gaohq.png') %>" alt="Gao Haiqiang">
								<img alt="linkedin" class="userlinkimg" src="<%= require('../../img/index/linkedin.png') %>" >
							</a>
						</div>
						<p class="name">
							<a href="https://www.linkedin.com/in/%E6%B5%B7%E5%BC%BA-%E9%AB%98-187a60166/">Gao Haiqiang</a>
						</p>
					</div>
				</div>

				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<a target="_blank" class="userimga" href="https://www.linkedin.com/in/haijun-zhao-0a76652b/">
								<img src="<%= require('../../img/index/zhj.png') %>" alt="Zhao Haijun">
								<img alt="linkedin" class="userlinkimg" src="<%= require('../../img/index/linkedin.png') %>" >
							</a>
						</div>
						<p class="name">
							<a href="https://www.linkedin.com/in/haijun-zhao-0a76652b/">Zhao Haijun</a>
						</p>
					</div>
				</div>
			</div>
			<h1>ADVISOR
				<!-- <span>ADVISOR</span> -->
			</h1>
			<div class="row team-wrapper team-wrapper2">
				<div class="col-md-2 col-xxs-4  ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/tj.png') %>" alt="Tian Jia">
						</div>
						<p class="name">Tian Jia</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/szy.png') %>" alt="Sun Zhongying">
						</div>
						<p class="name">Sun Zhongying</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/lch.png') %>" alt="Liu Chunhua">
						</div>
						<p class="name">Liu Chunhua</p>
					</div>
				</div>
				
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/Lucien Chen.png') %>" alt="Lucien Chen">
						</div>
						<p class="name">Lucien Chen</p>
					</div>
				</div>

				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/wt.png') %>" alt="Wang Tao">
						</div>
						<p class="name">Wang Tao</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/cy.png') %>" alt="Cheng Yuan">
						</div>
						<p class="name">Cheng Yuan</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4  ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/BM.png') %>" alt="BMAN Lee">
						</div>
						<p class="name">BMAN Lee</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="partners" class="use partners">
		<div class="container">
			<h1>Investor</h1>
			<!-- <span>PARTNERS</span> -->
			<div class="row partners-wrapper">
				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/Bitman.png') %>" alt="Bitman">
					</div>
				</div>
				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/1_zhenge.png') %>" alt="zhenge">
					</div>
				</div>
				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/2_daduhui.png') %>" alt="daduhui">
					</div>
				</div>
				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/3_DFund.png') %>" alt="DFund">
					</div>
				</div>
				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/4_ceyuan.png') %>" alt="ceyuan">
					</div>
				</div>
				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/5_fanzheng.png') %>" alt="fanzheng">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/FBG.png') %>" alt="FBG">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/6_BlockVC.png') %>" alt="BlockVC">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/1.yingbiziben.png') %>" alt="yingbiziben">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/2.kosmos.png') %>" alt="kosmos">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/3.NGC.png') %>" alt="NGC">
					</div>
				</div>


				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/7_IOST.png') %>" alt="IOST">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/8_DATA.png') %>" alt="DATA">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/4.timestamp.png') %>" alt="timestamp">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/5.feiniaoshequ.png') %>" alt="feiniaoshequ">
					</div>
				</div>
				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/6.xinglianziben.png') %>" alt="xinglianziben">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/Genisis.png') %>" alt="Genisis">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/8.hongan.png') %>" alt="hongan">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/11_jiduziben.png') %>" alt="jiduziben">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/9_H-CAPITAL.png') %>" alt="CAPITAL">
					</div>
				</div>


				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/10_sparkcapital.png') %>" alt="sparkcapital">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/7.bluehill.png') %>" alt="bluehill">
					</div>
				</div>

				<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
					<div class="partners-logo partners-logoyfy">
						<img class="yfy" src="<%= require('../../img/partner/9.tokenmania.png') %>" alt="tokenmania">
					</div>
				</div>












			</div>
		</div>
	</section>

	<div class="star-field">
		<div class="layer"></div>
		<div class="layer"></div>
		<div class="layer"></div>
	</div>
</div>
