<div id="body">
	<div class="bg">
	</div>
	<section class="banner-contents">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h1>提供无限存储能力</h1>
				<h2>去中心化结构云存储 Lambda</h2>
				<p style="opacity:0.8;font-size:14px">Lambda 是一个高速、安全、可扩展的区块链基础设施项目，通过对 Lambda Chain 和 Lambda DB 的逻辑解耦和分别实现，我们向去中心化应用提供可无限扩展的数据存储能力，并实现了多链数据协同存储、跨链数据管理、数据隐私保护、数据持有性证明、分布式智能计算等服务。另外，作为区块链的基础服务，Lambda Chain 通过 Sharding 技术，提供了每秒钟数百万笔的请求能力 (RPS)，并且可以随着系统规模的扩大而增长；通过子链技术，提供了面向未来无限扩充的技术服务能力。</p>
				<a class="btn" href="https://dn-oneapm.qbox.me/Lambda-WhitePaper.pdf" target="_blank">下载白皮书</a>
			</div>
			<div class="crowd col-md-6 col-xs-12">
				<p class="countdown-top">里程碑倒计时</p>
				<div id="getting-started" class="countdown"></div>

			</div>
		</div>
	</section>
	<section id="scene" class="scene use">
		<div class="container">
			<h1 >使用场景</h1>
			<span>APPLICATION SCENARIOS</span>
			<div class="row wrapper">
				<div class=" scene-item col-lg-w-30 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img src="<%= require('../../img/index/scene-log1.png') %>" alt="">
					</div>
					<h2 class="title">可公信安全的数据存储</h2>
					<p class="intro">
数据开发共享是推动数据产业发展的源动力，是未来世界的石油和源动力，现在将数据存在单方私有的数据中心，需求方获取并分析的模型已被证实存在较大弊端，也缺乏交易透明性，数据的所有权和控制权无法得到保证。我们的最终理念是，通过可被公证和公信得Lambda，以不同QoS存储可公开验证和匿名验证的各类数据，推动数据的共享共有，最终做到共同获益。</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img src="<%= require('../../img/index/scene-log2.png') %>" alt="">
					</div>
					<h2 class="title">公共数据访问和交易</h2>
					<p class="intro">今天，很多数据归属于整个人类共同所有，需要有一种数据基础设施，提供这些共有数据的访问和交易能力，例如，医疗、教育、交通、能源、农业、天气、水文、基建、科研、公共安全数据等等，这些所有人类共有的公共数据，都可以在 Lambda 平台进行分布式可验证的存储、分析、交易和使用。</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img src="<%= require('../../img/index/scene-log3.png') %>" alt="">
				</div>
					<h2 class="title">个人隐私数据的确权和保护</h2>
					<p class="intro">随着大数据时代的来临，个人对隐私数据的所有权面临严重的被挑战局面。通常数据采集者拥有无限的对数据进行解释和使用的权利。随着 GDPR 等法案的推行，个人、企业、政府之间数据隐私的矛盾越发尖锐。Lambda 通过差分隐私、数据加密和签名、身份认证和访问控制、加密传输等多种方式，提供可信安全和隐私保护的数据存储及访问能力。</p>
				</div>
				<div class="scene-item col-lg-w-30 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img src="<%= require('../../img/index/scene-log4.png') %>" alt="">
				</div>
					<h2 class="title">DApp 和区块链</h2>
					<p class="intro">到目前为止，很多去中心化应用项目面临着无法落地的风险，其中一个主要原因是缺乏数据存储基础设施。本质上来说，无论中心化应用，还是去中心化应用，其本质是围绕数据访问进行的业务逻辑执行、界面展示和用户交互，所以，数据基础设施是区块链和去中心化应用的核心问题。当前，区块链账本不适合存放业务数据，IPFS 无法存放格式化的程序访问数据，Lambda 项目通过优雅的链库功能解耦、同构功能子链设计和可公开验证的数据持有性证明，提供了可无限扩展的去中心化数据收集、存储和访问能力。s</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img class="car" src="<%= require('../../img/index/scene-log5.png') %>" alt="">
				</div>
					<h2 class="title">物联网数据存储</h2>
					<p class="intro">物联网数据是海量的、时序的、结构简单的数据，其产生过程可以保证数据的真实性。物联网数据占用存储空间量大，单个数据价值微小，从数据中提取价值需要持久的工作，需要大量的存储和计算资源。Lambda 的数字货币可以衡量微小的数据价值，激励人们共享和贡献计算存储资源以获取代币激励，Lambda 提供了一个面向物联网领域的数据收集、数据传输、数据存储、数据计算和数据交易体系，在这个体系内，如卫星遥感数据、水文数据、大气数据等传感器收集的数据都可以按照不同维度计算，通过智能合约出售给任何需要的人以及机构。</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img src="<%= require('../../img/index/scene-log6.png') %>" alt="">
				</div>
					<h2 class="title">人工智能数据</h2>
					<p class="intro">在人工智能领域，目前的共识是数据的作用比模型大很多倍，然而，元数据的获得是一个很困难也很昂贵的事情，数据的缺乏，限制了人工智能行业的发展。当前，由于缺乏信任，数据滥用等多方面的原因，自由个体不愿意贡献数据，而需要数据的商业机构更多通过灰色的手段去获取数据。Lambda 最终会形成一个巨大数据存储空间的一体化网络，数据的拥有者可以在 Lambda 的交易平台上通过智能合约来出售自己的数据。特别是，时间序列数据的价值在于分析之后的洞察，数据的拥有者无需出售原始数据，只需要出售数据的分析结果，甚至是出售对于数据分析结果的洞察。</p>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-xs-12">
					<div class="tab-btn">
						<div class="line"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>分布式应用</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>区块链</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>物联网</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xxs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>人工智能</p>
						</div>
					</div>
				</div>
			</div> -->
			<!-- <div class="row">
				<div class="col-lg-8 col-md-8">
					<div class="tab-contents">
						<p class="contents-active">目前分布式应用依靠以太坊和 IPFS 来搭建，但 IPFS 因为缺乏信息检索导致响应速度慢。而 lambda 的结构化数据，加上采用分片、分区的策略提供快速读写的能力，可以优雅地解决该问题。 在分布式应用爆发的今天，无论是信息源工具、通讯工具，还是泛娱乐服务，都应该使用 lambda 去中心化的结构云存储方案。提供更可靠、更快速、更安全的存储方案。</p>
						<p>在现存的区块链存储方案中，有存储于区块链本身的方案，或者点对点的文件系统，以及分布式云存储。三者皆存在缺陷。存于区块链上会造成交易慢、单点存储量大的问题，而点对点需要用户在线，分布式云存储仅支持静态文件无法更新，不易被程序访问。 因此，lambda 针对上诉现状进行改造，保持永远在线、读写速度快、支持富媒体等多样类型。</p>
						<p>物联网的存储量庞大，且存在时序性、更新频率快等特征。而基于区块链技术的存储解决方案 lambda 本身的时间戳功能，以及高扩展能力可以很好地适应物联网的诉求。 无论是 IoT 还是 IoE 场景，lambda 高性价比的存储方案，既可以避免云计算带来的能耗问题，又比网络边缘计算更能适应时序的存储要求。</p>
						<p>在人工智能领域，数据的价值越发重要，而区块链本身交换价值的特性，特别适用于使用区块链技术来交换数据。数据拥有者采用智能合约出售原始数据，进而再次出售分析结果，形成一个闭环。 Lambda 基于时序和数据交换的功能，能够在人工智能领域孵化更好的生态系统。</p>
					</div>
				</div>
			</div> -->
		</div>
	</section>
	<section id="design" class="use design">
		<div class="container">
			<h1>架构设计</h1>
			<span>ARCHITECTURE DESIGN</span>
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<img src="<%= require('../../img/index/design.png') %>" alt="">
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda Chain</p>
						<p class="intro">一个同构多链的链系统，提供高RPS的访问能力、图灵完备的智能合约、跨链交易能力等</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda P2P</p>
						<p class="intro">点对点的网络系统，提供网络层的寻址能力</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda DB</p>
						<p class="intro">多数据库集群系统，提供可无限扩展的安全加密数据存储能力</p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda DB的底层结构支撑系统</p>
						<p class="intro">一个支撑系统，包括块存储系统和分布式文件系统Lambda FS</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda ABE</p>
						<p class="intro">由多节点共识组成的属性基加密认证访问系统，数据库的访问控制网关</p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda TPA</p>
						<p class="intro">由多个验证人节点组成的数据完整性验证组织</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda Agent</p>
						<p class="intro">自适应的探针系统，提供内存数据存储、性能监控、安全监控和Metrics上传能力</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="principle" class="use principle">
		<div class="container">
			<h1>工作原理</h1>
			<span>WORKING PRINCIPLE</span>
			<div class="row">
				<div class="col-xs-12 ">
					<div class="tab-btn">
						<div class="line"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>同构多链</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>分片</p>
						</div>
						<div class="item col-md-2 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>数据持有性证明</p>
						</div>
						<div class="item col-md-2 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>访问控制和加密</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10">
					<div class="tab-contents">
						<div class="contents-active">
								<img class="work-img" src="<%= require('../../img/index/yl-1.png') %>" alt="">
							<p class="work-intro" style="opacity:0.8">Lambda链本身是一种同构多链的设计，分别是MainChain、WorkChain和ShardChain，除了 MainChain 以外，其他所有的 WorkChain 都是由多个 ShardChain 组成的。其中，MainChain的共识机制是Nominated Proof-of-Stake NPos，ShardChain 的共识机制是 HoneyBadgerBFT。MainChain 是所有链的主链和中继链，拥有全部的节点，包括提名人节点、验证人节点和钓鱼人节点。</p>
						</div>
						<div>
							<img class="work-img" src="<%= require('../../img/index/yl-2.png') %>" alt="">
							<p class="work-intro">任意一条 WorkChain 都是由 MainChain 指派的验证人节点负责交易的打包和出块，Sharding 的机制则是通过对验证人节点的分组之后进行 BFT 共识来完成。为了实现对数据库系统的管理，Lambda 团队自己实现了前三条子链，分别是对数据请求 (Request) 进行授权、记录和请求转发的 WorkChain1、对数据响应 (Response) 情况进行统计和对数据库节点进行共识管理的 WorkChain2，以及对数据完整性验证的 WorkChain3。未来，通过对更多子链的加入，Lambda 可以实现更多的功能。</p>
						</div>
						<div>
							<img class="work-img" src="<%= require('../../img/index/yl-3.png') %>" alt="">
							<p class="work-intro">去中心化的云存储和云数据库，相比较于中心化的云，其最大区别在于 Permissionless 的存储节点，并且，云用户不可作为验证发起人，也没有完全可信的 TPA 节点。在 Lambda 的设计中，我们采用的是支持公开验证的PDP方法的两个升级版本，BLS-PDP 和 MF-PDP，我们将通过多个验证人节点的共识来共同完成单点可信 TPA 的工作，也就是完成数据的持有性和完整性验证，并将验证结果写到链上，以备 FisherMan 查验。</p>
						</div>
						<div >
							<img class="work-img" src="<%= require('../../img/index/yl-4.png') %>" alt="">
							<p class="work-intro">区块链上的数据都是可公开访问的数据，这极大限制了数据的使用场景，为了扩展使用场景，Lambda 提供了基于多授权机构属性基加密的访问控制方案，并提供了数据加密的能力，以及通过代理加密对属性撤销的能力。Lambda 中基于 ABE 属性基加密方案可灵活实现访问控制策略，可极大降低网络和用户端计算开销，同时可以抵抗单个授权机构获取用户的身份信息,保证了用户身份隐私。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="ecosystem" class="use ecosystem">
		<div class="container">
			<h1>生态系统</h1>
			<span>ECOSYSTEM</span>
			<div class="row">
				<div class="col-xs-12">
					<img src="<%= require('../../img/index/Group2x.png') %>" alt="">
				</div>
				<div class="col-md-offset-1 col-md-10 col-sm-12 col-xxs-12">
					<p style="text-align:center;opacity:0.8">Lambda 不同于其他区块链，他是一个区块链的数据存储基础设施，参与该生态系统的角色分别是Dapp开发者和项目方、链节点参与方、存储节点参与方和其他参与方，其中链节点参与方包括提名人、验证人和钓鱼人等，Lambda提供存储、计算、交易等服务能力，因此还包含资源提供者、提交数据存储和计算任务的任务创建者、软件开发人员和数据分析师等各种角色共同组成了Lambda相互依存的生态系统。</p>
				</div>
			</div>
		</div>
	</section>
	<section id="roadmap" class="use roadmap">
		<div class="container">
			<h1>路线图</h1>
			<span>ROADMAP</span>
			<!-- <div class="row">
				<div class="col-lg-w-30" style="position:relative; padding-left:15px;">
					<div class="circle-icon-wrapper">
						<i class="circle-icon"></i>
					</div>
					<div class="roadmap-wrapper">
						<div class="liner"></div>
						<div class="title-wrapper">
							<div class="num">
								<p>1</p>
							</div>
							<div class="flex-title">
								<div class="time">
									<p>2017 Q4</p>
								</div>
								<div class="title">
									<p class="color-show">Lambda 技术论证与研究</p>
								</div>
							</div>
						</div>
						<p class="contents">深度研究区各公链和基础协议技术框架，核心团队阅读大量的代码和论文<br/><br/> 论证 Permissionless 环境下的海量数据的计算和存储模型<br/><br/> 论证 OAS 商业模式和 Token 经济的结合点</p>
					</div>
				</div>
				<div class="col-lg-w-30 col-lg-offset-w-10 col-md-4">
					<div class="circle-icon-wrapper">
						<i class="circle-icon"></i>
					</div>
					<div class="roadmap-wrapper">
						<div class="liner"></div>
						<div class="title-wrapper">
							<div class="num">
								<p>2</p>
							</div>
							<div class="flex-title">
								<div class="time">
									<p>2018 Q1</p>
								</div>
								<div class="title">
									<p class="color-show">Lambda 技术论证与研究</p>
								</div>
							</div>
						</div>
						<p class="contents">选择合适的区块链共识机制，确定了采用Sharding 方案的高速链设计，以及子链的HoneyBadgerBFT 共识算法<br/><br/> 确定采用 Request 和 Reponse 分别记账的多子链设计<br/><br/> 完善链库结构分离的结构设计<br/><br/> 确定采用 PDP 的数据持有性证明和 ABE 的访问控制和加密机制<br/><br/> 确定技术路线和技术方案 完成技术白皮书</p>
					</div>
					<div class="roadmap-wrapper">
						<div class="title-wrapper">
							<div class="num">
								<p>3</p>
							</div>
							<div class="flex-title">
								<div class="time">
									<p>2018 Q3</p>
								</div>
								<div class="title">
									<p class="color-show">Lambda 核心组件开发</p>
								</div>
							</div>
						</div>
						<p class="contents">对 libp2p 和 devp2p 的性能进行评估测试，代码修改<br/><br/> 实现底层的数据块储系统<br/><br/> 闭源开发 Lambda Chain 对 Lambda FS 进行技术验证<br/><br/> 对 Lambda FS 进行社区化开发并实时开源<br/><br/> 基于 Lambda FS 实现 Lambda 数据库<br/><br/> 基于热点语言开发 Lambda Agent 方便与现用应用集成</p>
					</div>
					<div class="roadmap-wrapper">
						<div class="title-wrapper">
							<div class="num">
								<p>4</p>
							</div>
							<div class="flex-title">
								<div class="time">
									<p>2018 Q4</p>
								</div>
								<div class="title">
									<p class="color-show">Lambda Chain 测试网络开发</p>
								</div>
							</div>
						</div>
						<p class="contents">P2P 网络开发用于同步区块链账本以及存储数据同步<br/><br/> 虚拟机开发以及内置合约的开发与验证<br/><br/> API 接口、RPC 接口、命令行、外围工具开发<br/><br/> 开源 Lambda Chain</p>
					</div>
				</div>
				<div class="col-lg-w-30 col-lg-offset-w-10 col-md-4">
					<div class="circle-icon-wrapper">
						<i class="circle-icon"></i>
					</div>
					<div class="roadmap-wrapper">
						<div class="liner"></div>
						<div class="title-wrapper">
							<div class="num">
								<p>5</p>
							</div>
							<div class="flex-title">
								<div class="time">
									<p>2019 Q1</p>
								</div>
								<div class="title">
									<p class="color-show">测试网络搭建与基于 Lambda 范例开发</p>
								</div>
							</div>
						</div>
						<p class="contents">基于社区搭建大规模的测试网络，进行全方位的测试<br/><br/> 发放 LDA 鼓励早期社区爱好者开发基于 Lambda 的应用示例<br/><br/> 基于测试网络对应用示例进行安全性与业务漏洞悬赏测试并修正</p>
					</div>
					<div class="roadmap-wrapper">
						<div class="title-wrapper">
							<div class="num">
								<p>6</p>
							</div>
							<div class="flex-title">
								<div class="time">
									<p>2019 Q2</p>
								</div>
								<div class="title">
									<p class="color-show">其他数据服务能力的扩展与数据交易</p>
								</div>
							</div>
						</div>
						<p class="contents">由基金会发起鼓励更多的数据存储和数据库类服务能力接入 Lambda 生态环境<br/><br/> 探索 Lambda 生态内的数据交易商业场景和模式</p>
					</div>
				</div>
			</div> -->
			<div class="row" style="position:relative">
	<div class="col-md-offset-1 col-md-11 box-wrapper">
		<div class="row">
			<div class="col-sm-2 col-xxs-2">
				<div class="nc-wrapper">
					<span class="left-num color-show">1</span>
					<div class="circle-icon ">
						<div class="column-line "></div>
						<i></i>
					</div>
				</div>
			</div>
			<div class="p-l-0 col-sm-10 col-xxs-10">
				<div class="year-list">
					<span class="num">2017 Q4</span>
					<h2 class="title">Lambda 技术论证与研究</h2>
					<ul>
	 					<li>深度研究区各公链和基础协议技术框架，核心团队阅读大量的代码和论文</li>
						<li>论证 Permissionless 环境下的海量数据的计算和存储模型</li>
						<li>论证 OAS 商业模式和 Token 经济的结合点</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xxs-2">
				<div class="nc-wrapper">
					<span class="left-num color-show">2</span>
					<div class="circle-icon">
						<i></i>
					</div>
				</div>
			</div>
			<div class="p-l-0 col-sm-10 col-xxs-10">
				<div class="year-list">
					<span class="num">2018 Q1</span>
					<h2 class="title">Lambda 技术论证与研究</h2>
					<ul>
						<li>选择合适的区块链共识机制，确定了采用Sharding 方案的高速链设计，以及子链的HoneyBadgerBFT 共识算法</li>
						<li>确定采用 Request 和 Reponse 分别记账的多子链设计</li>
						<li>完善链库结构分离的结构设计</li>
						<li>确定采用 PDP 的数据持有性证明和 ABE 的访问控制和加密机制</li>
						<li>确定技术路线和技术方案</li>
						<li>完成技术白皮书</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xxs-2">
				<div class="nc-wrapper">
					<span class="left-num color-show">3</span>
					<div class="circle-icon ">
						<i></i>
					</div>
				</div>
			</div>
			<div class="p-l-0 col-sm-10 col-xxs-10">
				<div class="year-list">
					<span class="num">2018 Q3</span>
					<h2 class="title">Lambda 核心组件开发</h2>
					<ul>
						<li>对 libp2p 和 devp2p 的性能进行评估测试，代码修改</li>
						<li>实现底层的数据块储系统</li>
						<li>闭源开发 Lambda Chain 对 Lambda FS 进行技术验证</li>
						<li>对 Lambda FS 进行社区化开发并实时开源</li>
						<li>基于 Lambda FS 实现 Lambda 数据库</li>
						<li>基于热点语言开发 Lambda Agent 方便与现用应用集成</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xxs-2">
				<div class="nc-wrapper">
					<span class="left-num color-show">4</span>
					<div class="circle-icon">
						<i></i>
					</div>
				</div>
			</div>
			<div class="p-l-0 col-sm-10 col-xxs-10">
				<div class="year-list">
					<span class="num">2018 Q4</span>
					<h2 class="title">Lambda Chain 测试网络开发</h2>
					<ul>
						<li>P2P 网络开发用于同步区块链账本以及存储数据同步</li>
						<li>虚拟机开发以及内置合约的开发与验证</li>
						<li>API 接口、RPC 接口、命令行、外围工具开发</li>
						<li>开源 Lambda Chain</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xxs-2">
				<div class="nc-wrapper">
					<span class="left-num color-show">5</span>
					<div class="circle-icon ">
						<i></i>
					</div>
				</div>
			</div>
			<div class="p-l-0 col-sm-10 col-xxs-10">
				<div class="year-list">
					<span class="num">2019 Q1</span>
					<h2 class="title">测试网络搭建与基于 Lambda 范例开发</h2>
					<ul>
						<li>基于社区搭建大规模的测试网络，进行全方位的测试</li>
						<li>发放 LDA 鼓励早期社区爱好者开发基于 Lambda 的应用示例</li>
						<li>API 接口、RPC 接口、命令行、外围工具开发</li>
						<li>基于测试网络对应用示例进行安全性与业务漏洞悬赏测试并修正</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xxs-2">
				<div class="nc-wrapper">
					<span class="left-num color-show">6</span>
					<div class="circle-icon">
						<i></i>
					</div>
				</div>
			</div>
			<div class="p-l-0 col-sm-10 col-xxs-10">
				<div class="year-list">
					<span class="num">2019 Q2</span>
					<h2 class="title">其他数据服务能力的扩展与数据交易</h2>
					<ul>
						<li>由基金会发起鼓励更多的数据存储和数据库类服务能力接入 Lambda 生态环境</li>
						<li>探索 Lambda 生态内的数据交易商业场景和模式</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
	</section>
	<section id="team" class="use team">
		<div class="container">
			<h1>核心团队</h1>
			<span>CORE TEAM</span>
			<div class="row team-wrapper">
				<div class="col-md-2 col-xxs-4">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/hxy.png') %>" alt="">
						</div>
						<p class="name">何晓阳</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/ghq.png') %>" alt="">
						</div>
						<p class="name">郭宏强</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/hbq.png') %>" alt="">
						</div>
						<p class="name">何冰清</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/yh.png') %>" alt="">
						</div>
						<p class="name">Yue Huang</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/alex.png') %>" alt="">
						</div>
						<p class="name">Alex Lototskiy</p>
					</div>
				</div>
			</div>
			<h2>专家顾问<span>ADVISOR</span></h2>
			<div class="row team-wrapper team-wrapper2">
				<div class="col-md-2 col-xxs-4  ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/jn.png') %>" alt="">
						</div>
						<p class="name">BMAN</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/szy.png') %>" alt="">
						</div>
						<p class="name">孙仲英</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/lch.png') %>" alt="">
						</div>
						<p class="name">刘春华</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/tj.png') %>" alt="">
						</div>
						<p class="name">田甲</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/gx.png') %>" alt="">
						</div>
						<p class="name">顾旋</p>
					</div>
				</div>
			</div>
		</div>
	</section>
<section id="partners" class="use partners">
	<div class="container">
		<h1>合作伙伴</h1>
		<span>PARTNERS</span>
		<div class="row partners-wrapper">
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo">
					<img src="<%= require('../../img/index/apache.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo">
					<img src="<%= require('../../img/index/oneapm.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../img/index/yfy.png') %>" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
