<div id="body">
	<div class="bg">
	</div>
	<section class="banner-contents">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h1>Providing unlimited storage capabilities</h1>
				<h2>Decentralized structural cloud storage</h2>
				<p style="opacity:0.8;font-size:14px">Lambda is a fast, secure, and extensible blockchain data infrastructure project, which enables decentralized structural data storage and accesses. As a cloud distributed database born following the development of the decentralization technology, it is mainly used in distributed applications, blockchain applications, artificial intelligence, and Internet of Things (IoT). Based on Apache License and blockchain technology, it aims at solving current efficiency and security issues.</p>
				<a class="btn" href="https://dn-oneapm.qbox.me/Lambda-WhitePaper.pdf" target="_blank">Download the White Paper </a>
			</div>
			<div class="crowd col-md-6 col-xs-12">
				<p class="countdown-top">距离众筹开始还有</p>
				<div id="getting-started" class="countdown"></div>

			</div>
		</div>
	</section>
	<section id="scene" class="scene use">
		<div class="container">
			<h1 >Application Scenarios</h1>
			<span>APPLICATION SCENARIOS</span>
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-btn">
						<div class="line"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Distributed Application</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Blockchain</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Artificial Intelligence</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xxs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>IoT</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<div class="tab-contents">
						<p class="contents-active">At present, distributed applications are established relying on Ethereum and IPFS which causes slow response due to the lack of information retrieving. However, Lambda resolves the issue elegantly with structural data and fast read and writing ability provided by sharding and partition strategies.
<br/>Nowadays, with the boost of distributed applications, the Lambda decentralized structural cloud storage plan can be applied to both information source tools and telecommunications tools, and pan-entertainment services since it can provide more reliable, faster, and securer storage plans.</p>
						<p>n the existing blockchain storage plans, there are plans of storage in the blockchains, point-to-point file system, and distributed cloud storage, however, each of them has defects. The storage in blockchains results in slow transactions and large size of memory on a single point; point-to-point file system requires users to be online all the time; distributed cloud storage supports static files only, which are unable to be updated or accessed by programs.<br/>To solve the issues mentioned above, Lambda is transformed to keep online permanently, write and read fast, and support various types such as Rich Media.</p>
						<p>In the artificial intelligence field, the value of data turns out to be increasingly important. Nevertheless, the exchange value feature of the blockchain is tailored for data exchange, during which the data owner adopts smart contracts to sell primitive data, and then sell analysis results, forming a closed loop. <br/>Based on time sequence and data exchange, Lambda is able to incubate a better ecosystem in the artificial intelligence sector. </p>
						<p>IoT is featured with considerable size of memory, time sequence, and fast update, which appeals to Lambda, the storage solution based on blockchain technologies with time stamp function and high extensibility. <br/>No matter in IoT or IoE scenarios, the cost-effective storage plan of Lambda can not only avoid energy consumption caused by cloud computing but also better meet storage requirements of time sequence compared with network edge computing. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="principle" class="use principle">
		<div class="container">
			<h1>Working Principle</h1>
			<span>WORKING PRINCIPLE</span>
			<div class="row">
				<div class="col-xs-12 ">
					<div class="tab-btn">
						<div class="line"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Multi-chain</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Sharding</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Storage</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Algorithms</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<div class="tab-contents">
						<p class="contents-active" style="opacity:0.8">Lambda is a homogeneous multi-chain design, of which the MainChain provides registration, global ledger management, and transaction liquidation for sub-chains, immensely expanding Lambda ecology based on the capabilities of multiple WorkChains responsible for accessing different services. <br>Moreover, Lambda supports transactions and telecommunications across the chains, therefore, achieving authorization, record, and request transfer of data requests, statistics of data responses and consensus management of database nodes, and data completeness verification.  </p>
						<p>With the Sharding technology, Lambda WorkChains utilizes real-time loading schedules flexible Sharding and combined Sharding to ensure the capability of handling a million RPS requests. <br> Adopting the sub-chain model, Lambda performs sharding automatically according to accounts or request content to guarantee high concurrence, and meanwhile ensures the completeness and security of data through the cross verification mechanism with the MainChain. </p>
						<p>Lambda follows the increment expansion principle to establish the dynamic Sharding mechanism, making it possible to distribute loads to storage nodes at equilibrium and ensure consistency at the same time. <br> It also supports cluster and partition, which can be used to solve network congestion. The partition based on geographical positions and operators also adopts the inquiry, node addition and deletion, and conflict resolving strategies applied in sharding, which can guarantee the balance of loads and consistency of data. </p>
						<p>Based on the ABE algorithm, Lambda establishes an efficient data access control plan for mobile cloud storage using online-offline and outsourcing decoding technologies. <br> Based on the BLS-PDP and MF-PDP algorithms, Lambda fulfills the completeness verification of data to ensure the eternal security and privacy of data. <br>Based on the CCHDP algorithm, Lambda enables a storage mechanism in which a group of nodes can be sharded dynamically. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="ecosystem" class="use ecosystem">
		<div class="container">
			<h1>Ecosystem</h1>
			<span>ECOSYSTEM</span>
			<div class="row">
				<div class="col-xs-12">
					<img src="<%= require('../../../img/index/Group2x.png') %>" alt="">
				</div>
				<div class="col-md-offset-1 col-md-10 col-sm-12 col-xxs-12">
					<p style="opacity:0.8">Different from most blockchain applications, Lambda is an infrastructure with an individual chain used for billing and transactions. <br>The computing market supported by Lambda consists of computing resource providers, task builders who submit data storage and computing tasks, software developers, and data analysts, who jointly establish the ecosystem that Lambda depends on. </p>
				</div>
			</div>
		</div>
	</section>
	<section id="roadmap" class="use roadmap">
		<div class="container">
			<h1>RoadMap</h1>
			<span>ROADMAP</span>
			<div class="row" style="position:relative">
				<div class="column-line hidden-xs hidden-xxs"></div>
				<div class="col-md-offset-1 col-md-11 box-wrapper">
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num">1</span>
								<div class="circle-icon">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2017</span>
								<ul>
									<li><span class="num">Q1</span><span class="contents">Deeply researching in each public blockchain and technical framework on the protocol layer and meanwhile requesting the core team to read a large number of codes and papers; <br/>Demonstrating the computing and storage model of magnanimous data under the Permissionless environment; Demonstrating the combination of OAS business mode and Token economy.  <br>Demonstrating the combination of OAS business mode and Token economy. </span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">2</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2018</span>
								<ul>
									<li><span class="num">Q1</span><span class="contents">Selecting a proper blockchain consensus mechanism, and determining to adopt sharding high-speed chain design and HoneyBadgerBFT consensus algorithm of sub-chains. <br>Determining to adopt the multiple sub-chains design with Request and Response accounting respectively;  <br>Improving the structure design isolating chains from the database; <br />Determining to adopt provable data possession (PDP), and ABE access control and encryption mechanism;
<br/>Determining the technology roadmap and technical plan; <br />Finishing the technical white paper. </span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">3</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2018</span>
								<ul>
									<li><span class="num">Q3</span><span class="contents">
										Performing the evaluation test of the performance of libp2p and devp2p and modifying codes accordingly; <br />
										Building a data block storage system on the bottom layer; <br />
										Fulfilling closed source development of Lambda Chain; <br />
										Performing technical verification of Lambda FS; <br />
										Performing community development of Lambda FS and opening the source in real time;  <br />
										Establishing the Lambda database based on Lambda FS; <br />
										Developing an easy and available application integration of Lambda Agent based on hot languages.
									</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">4</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2018</span>
								<ul>
									<li><span class="num">Q4</span><span class="contents">
										Developing a P2P network to apply it to the synchronization of blockchain ledger and storage data;<br />
										Developing virtual machines and embedded protocols, and completing corresponding verification; <br />
										Developing API interface, RPC interface, command lines, and peripheral tools. <br />
										Opening the source of Lambda Chain.
									</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">5</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2019</span>
								<ul>
									<li><span class="num">Q1</span><span class="contents">
										Establishing a large-scale testing network based on the community to perform all-round tests; <br />
										Giving out LDA to encourage senior community enthusiasts to develop Lambda-based application examples; <br />
										Performing the security and service bug reward tests for application examples based on the testing network and modifying the bugs according to the test results.
									</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">6</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2019</span>
								<ul>
									<li><span class="num">Q2</span><span class="contents">
										Encouraging access of more types of databases and service abilities to Lambda ecology, sponsored by the foundation; <br />
										Exploring the data transaction capabilities based on Lambda ecology.
									</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="team" class="use team">
		<div class="container">
			<h1>Core Team</h1>
			<span>CORE TEAM</span>
			<div class="row team-wrapper">
				<div class="col-md-2 col-xxs-4">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/hxy.png') %>" alt="">
						</div>
						<p class="name">He Xiaoyang</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/ghq.png') %>" alt="">
						</div>
						<p class="name">Guo Hongqiang</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/hbq.png') %>" alt="">
						</div>
						<p class="name">He Bingqing</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/yh.png') %>" alt="">
						</div>
						<p class="name">Yue Huang</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/alex.png') %>" alt="">
						</div>
						<p class="name">Alex Lototskiy</p>
					</div>
				</div>
			</div>
			<h2>Advisor<span>ADVISOR</span></h2>
			<div class="row team-wrapper team-wrapper2">
				<div class="col-md-2 col-xxs-4  ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/jn.png') %>" alt="">
						</div>
						<p class="name">Jiang Ning </p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/wx.png') %>" alt="">
						</div>
						<p class="name">Wu Xing</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/lch.png') %>" alt="">
						</div>
						<p class="name">Wu Xing</p>
					</div>
				</div>
			</div>
		</div>
	</section>
<section id="partners" class="use partners">
	<div class="container">
		<h1>Partners</h1>
		<span>PARTNERS</span>
		<div class="row partners-wrapper">
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo">
					<img src="<%= require('../../../img/index/apache.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo">
					<img src="<%= require('../../../img/index/oneapm.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/index/yfy.png') %>" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
