<div id="body">
	<div class="bg"></div>
	<section class="banner-contents  firstbgimg">
		<div class="container">
			<div  class="col-md-7 col-xs-12"  >
				<h2 style="margin-bottom: 30px;font-size: 29px;" > A Disruptor in Blockchain-Based Storage Solution</h2>
				<h3 style="margin-bottom: 30px;font-size: 26px;" >Providing Unlimited Storage Capabilities</h3>
				<p style="opacity:0.8;font-size:14px;text-align: left;    width: 90%">
					Lambda is a fast, safe, and scalable blockchain infrastructure project, which provides decentralized applications (DAPPs) data storage capabilities with unlimited scalability and fulfills services such as multi-chain data co-storage, cross-chain data management, data privacy protection, PDP, and
distributed intelligent computing through logic decoupling and independent implementation of Lambda Chain and Lambda DB

				</p>
				<a class="btn firstBtn" href="https://www.lambda.im/doc/Lambda-WhitePaper-en.pdf" target="_blank">Download whitepaper</a>
				<a class="btn sendBtn" href="https://token.lambda.im/#/register" target="_blank">Go Whitelist</a>
				<div class="contact">
					<!-- <h3 class="title">联系我们</h3> -->
					<ul>
						<li><a href="https://t.me/HelloLambda" target="_blank"><img src="<%= require('../../../img/index/telegram.png') %>"/></a></li>
						<li><a href="https://twitter.com/Lambdaim" target="_blank"><img src="<%= require('../../../img/index/twitter.png') %>"/></a></li>
						<li class="wechatitem">
							<a href="https://mp.weixin.qq.com/s/rW3pOxzJwI1HXrTESTYxWA" target="_blank"><img src="<%= require('../../../img/index/wechat.png') %>"/></a>
							<img style="width:100px" class="wechatQRcode"  src="<%= require('../../../img/index/wechartrq.jpg') %>"/>
						</li>
						<li><a href="https://www.facebook.com/Lambdaim" target="_blank"><img src="<%= require('../../../img/index/facebook.png') %>"/></a></li>
						<li><a href="https://www.linkedin.com/company/lambdaim" target="_blank"><img src="<%= require('../../../img/index/linkedin.png') %>"/></a></li>
						<li><a href="https://www.weibo.com/lambdaim?is_all=1" target="_blank"><img src="<%= require('../../../img/index/weibo.png') %>"/></a></li>


					</ul>
				</div>
			</div>
			<!-- <div class="crowd col-md-5 hidden-sm  hidden-xs hidden-xxs"> -->
      <div class="crowd col-md-5 ">
				<p class="countdown-top">Launch Count Down</p>
				<div id="getting-started" class="countdown"></div>

         <!-- <img style="width: 100%; margin-top: -30px;" class="work-img" src="<%= require('../../../img/index/fimg1.png') %>" alt=""> -->

			</div>

		</div>
	</section>
	<section id="scene" class="scene use">
		<div class="container">
			<h1 >APPLICATION SCENARIOS</h1>
			<!-- <span>APPLICATION SCENARIOS</span> -->
			<div class="row wrapper">
				<div class=" scene-item col-lg-w-30 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img src="<%= require('../../../img/index/scene-log1.png') %>" alt="">
					</div>
					<h2 class="title">Trusted and secure data storage</h2>
					<p class="intro">Data development and sharing is the driving force for the development of the data industry and the oil and power source of the future world. Nowadays, the data is stored in a unilateral private data center, where the model obtained and analyzed by the demand side has been proved to have big drawbacks, lack of transactional transparency and without guaranteed data ownership and control right. Our ultimate idea is to promote data sharing and achieve common benefit by the distinct QoS storage of all types of data that can be validated publicly and validated anonymously  through the Lambda that can be notarized and trusted.</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
						<img src="<%= require('../../../img/index/scene-log2.png') %>" alt="">
					</div>
					<h2 class="title">Public data access and transaction</h2>
					<p class="intro">At present, many data are owned by all human beings, thereby needing a data infrastructure to enable such shared data access and transaction as medical, education, transportation, energy, agriculture, weather, hydrology, infrastructure, scientific research, public safety data etc. These public data, which are common to all humans, can be distributed, verifiable, stored, analyzed, traded, and used on the Lambda platform.</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img src="<%= require('../../../img/index/scene-log3.png') %>" alt="">
				</div>
					<h2 class="title">The right and protection of personal privacy data</h2>
					<p class="intro">The advent of the era of big data brings about tremendous challenges to the ownership of personal privacy data. Usually, data collectors have unlimited right to interpret and use data. With the implementation of GDPR and other bills, the contradiction between data privacy among individuals, enterprises and governments is becoming more acute. Lambda provides reliable, secure and privacy-protected data storage and access capability by means of differential privacy, data encryption and signing, identity authentication and access control, and encrypted transmission.</p>
				</div>
				<div class="scene-item col-lg-w-30 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img src="<%= require('../../../img/index/scene-log4.png') %>" alt="">
				</div>
					<h2 class="title">DApp and Block chain</h2>
					<p class="intro">So far, many decentralized application projects face the risk of failing to implement, one of the main causes being the shortage of data storage infrastructures. In fact, the essence of an application, centralized or decentralized, is the implementation of business logic, interface display, and user interaction around data access. Therefore, data infrastructure is the core issue of blockchain and decentralized applications. Currently, blockchain ledgers are not suitable for business data storage, IPFS cannot store formatted program access data. While Lambda project provides infinitely scalable decentralized data collection, storage, and access capabilities through elegant chain library decoupling, isomorphic function subchain design, and publicly verifiable data ownership proofs.</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img class="car" src="<%= require('../../../img/index/scene-log5.png') %>" alt="">
				</div>
					<h2 class="title">IoT data storage</h2>
					<p class="intro">The IoT data are massive, time-series, and simple structured, whose generation process can ensure the authenticity of the data. The IoT data occupy a large amount of storage space, and the value of individual data is small. It needs a lasting work and substantial storage and computing resources to extract value from the data. Lambda's digital currency can measure the value of small data, motivating people to share and contribute computing storage resources to obtain token incentives. Lambda provides a system of data collection, data transmission, data storage, data computing and data transaction in the field of IoT. With this system, data collected by sensors such as satellite remote sensing data, hydrological data and atmospheric data can be calculated in different dimensions and sold to anyone and institutions that need it through smart contracts.</p>
				</div>
				<div class="scene-item col-lg-w-30 col-lg-offset-w-10 col-md-4 col-sm-6 col-xs-12">
					<div class="imglogo-wrapper">
					<img src="<%= require('../../../img/index/scene-log6.png') %>" alt="">
				</div>
					<h2 class="title">Artificial intelligence data</h2>
					<p class="intro">In the field of artificial intelligence, the current consensus is that the role of data is many times larger than that of the model. However, the acquisition of metadata is a difficult and expensive issue. The shortage of data hinders the development of the artificial intelligence industry. At present, because of lack of trust, data abuse and other reasons, individuals are unwilling to contribute data, and business organizations that have need obtain data through unconventional means. Lambda will eventually form an integrated network of huge data storage space, and data owners can sell their data through smart contracts on Lambda's trading platform. In particular, the value of time-series data lies in the insights after the analysis. Data owners do not need to sell the original data, but only sell the analysis results of the data, and even the insights on the results of the data analysis.</p>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-xs-12">
					<div class="tab-btn">
						<div class="line"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>分布式应用</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>区块链</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>物联网</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xxs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>人工智能</p>
						</div>
					</div>
				</div>
			</div> -->
			<!-- <div class="row">
				<div class="col-lg-8 col-md-8">
					<div class="tab-contents">
						<p class="contents-active">目前分布式应用依靠以太坊和 IPFS 来搭建，但 IPFS 因为缺乏信息检索导致响应速度慢。而 lambda 的结构化数据，加上采用分片、分区的策略提供快速读写的能力，可以优雅地解决该问题。 在分布式应用爆发的今天，无论是信息源工具、通讯工具，还是泛娱乐服务，都应该使用 lambda 去中心化的结构云存储方案。提供更可靠、更快速、更安全的存储方案。</p>
						<p>在现存的区块链存储方案中，有存储于区块链本身的方案，或者点对点的文件系统，以及分布式云存储。三者皆存在缺陷。存于区块链上会造成交易慢、单点存储量大的问题，而点对点需要用户在线，分布式云存储仅支持静态文件无法更新，不易被程序访问。 因此，lambda 针对上诉现状进行改造，保持永远在线、读写速度快、支持富媒体等多样类型。</p>
						<p>物联网的存储量庞大，且存在时序性、更新频率快等特征。而基于区块链技术的存储解决方案 lambda 本身的时间戳功能，以及高扩展能力可以很好地适应物联网的诉求。 无论是 IoT 还是 IoE 场景，lambda 高性价比的存储方案，既可以避免云计算带来的能耗问题，又比网络边缘计算更能适应时序的存储要求。</p>
						<p>在人工智能领域，数据的价值越发重要，而区块链本身交换价值的特性，特别适用于使用区块链技术来交换数据。数据拥有者采用智能合约出售原始数据，进而再次出售分析结果，形成一个闭环。 Lambda 基于时序和数据交换的功能，能够在人工智能领域孵化更好的生态系统。</p>
					</div>
				</div>
			</div> -->
		</div>
	</section>
	<section id="design" class="use design">
		<div class="container">
			<h1>ARCHITECTURE DESIGN</h1>
			<!-- <span>ARCHITECTURE DESIGN</span> -->
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<img src="<%= require('../../../img/index/design.png') %>" alt="">
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda Chain</p>
						<p class="intro">An isomorphic multi-chain system Lambda Chain, providing high TPS access capabilities, Turing-complete smart contracts, cross-chain trading capabilities, etc.</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda P2P</p>
						<p class="intro">A p2p network system Lambda p2p, providing network layer addressability</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda DB</p>
						<p class="intro">A multi-database cluster system Lambda DB, providing unlimited encrypted secure data storage</p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda DB Infrastructure</p>
						<p class="intro">A Lambda DB underlying infrastructure supporting system, including a block storage system and a distributed file system Lambda FS</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda ABE</p>
						<p class="intro">An attribute-based encryption authentication access system composed of multi-node consensus Lambda ABE, the access control gateways to databases</p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda TPA</p>
						<p class="intro">A data integrity verification group consisting of multiple verifier nodes Lambda TPA Chain</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda Agent</p>
						<p class="intro">An adaptive probe system Lambda Agent, providing memory data storage, performance monitoring, security monitoring and Metrics data uploading capabilities</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="principle" class="use principle">
		<div class="container">
			<h1>WORKING PRINCIPLE</h1>
			<!-- <span>WORKING PRINCIPLE</span> -->
			<div class="row">
				<div class="col-xs-12 ">
					<div class="tab-btn">
						<div class="line"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Isomorphic Multi-Chain</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Sharding</p>
						</div>
						<div class="item col-md-2 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Data Ownership Proof</p>
						</div>
						<div class="item col-md-2 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>Access control and encryption </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-10">
					<div class="tab-contents">
						<div class="contents-active">
								<img class="work-img" src="<%= require('../../../img/index/yl-1.png') %>" alt="">
							<p class="work-intro" style="opacity:0.8">Lambda chain itself is a kind of isomorphic multi-chain design, respectively are MainChain, WorkChain and ShardChain. With the exception of MainChain, all other WorkChains are composed of multiple ShardChains. Among them, the consensus mechanism of MainChainNominated is Proof-of-Stake NPos, and the consensus mechanism of ShardChain is HoneyBadgerBFT. MainChain is the main chain and relay chain of all chains and has all nodes, including nominator nodes, validation nodes, and fisherman nodes.</p>
						</div>
						<div>
							<img class="work-img" src="<%= require('../../../img/index/yl-2.png') %>" alt="">
							<p class="work-intro">Any WorkChain is assigned by MainChain as the validation node responsible for the packaging and blocking of transactions. While sharding's mechanism is accomplished through a BFT consensus after grouping validation nodes. In order to implement the management of the database system, the Lambda team has implemented the first three sub-chains, namely, WorkChain1 that authorizes, records, and forwards data requests, WorkChain2 that performs statistics on data response conditions and conduct consensus management on database nodes and WorkChain3 that verifies data integrity. In the future, Lambda can achieve more functions by adding more sub-chains.</p>
						</div>
						<div>
							<img class="work-img" src="<%= require('../../../img/index/yl-3.png') %>" alt="">
							<p class="work-intro">Decentralized cloud storage and cloud databases, compared to centralized clouds, the biggest difference lies in Permissionless storage nodes, and cloud users cannot be certifying initiators or fully trusted TPA nodes. In Lambda's design, we adopted two upgraded versions of the publicly-authenticated PDP method, BLS-PDP and MF-PDP. We will jointly complete the work of single point trusted TPA through the multiple validation nodes consensus, that is to complete the data's ownership and integrity validation, and write the validation results to the chain for FisherMan's inspection.</p>
						</div>
						<div >
							<img class="work-img" src="<%= require('../../../img/index/yl-4.png') %>" alt="">
							<p class="work-intro">The data on the blockchain are publicly accessible, which greatly limits the data application scenario. In order to expand, Lambda provides an access control program based on multi-authority organization attribute-based encryption, and data encryption capability, and the ability to revoke attribute through proxy encryption. The ABE attribute-based encryption program in Lambda can flexibly implement access control policies, which can greatly reduce network and user-end computing overheads, and simultaneously can resist single-authority organization to obtain user's identity information thereby ensuring the privacy of user identity.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="ecosystem" class="use ecosystem">
		<div class="container">
			<h1>ECOSYSTEM</h1>
			<!-- <span>ECOSYSTEM</span> -->
			<div class="row">
				<div class="col-xs-12">
					<img src="<%= require('../../../img/index/Group2x.png') %>" alt="">
				</div>
				<div class="col-md-offset-1 col-md-10 col-sm-12 col-xxs-12">
					<p style="text-align:center;opacity:0.8">Unlike other blockchains, Lambda is a blockchain data storage infrastructure. The roles of this ecosystem are DAPP developers and project parties, chain node participants, storage node participants and other participants, in which chain node participants include nominees, validators and fishermen. Lambda provides storage, computing, transaction, and other service capabilities. Therefore, roles encompassing resource providers, task creators for submitting data storage and computation tasks, software developers, and data analysts also involve and comprise Lambda's interdependent ecosystem.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="roadmap" class="use roadmap">
		<div class="container">
			<h1>ROADMAP</h1>
			<div class="row" style="position:relative">
      	<div class="col-md-offset-1 col-md-11 box-wrapper">
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">1</span>
      					<div class="circle-icon ">
      						<div class="column-line "></div>
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
      					<span class="num">2017 Q4</span>
      					<h2 class="title">Lambda technology demonstration and research</h2>
      					<ul>
      	 					<li>In-depth study the technology architecture of public chains and basic protocol, and the core team read a lot of codes and papers</li>
      						<li>Demonstrate the calculation and storage model of massive data in the Permissionless environment</li>
      						<li>Demonstrate the connection between OAS business model and Token economy</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">2</span>
      					<div class="circle-icon">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
      					<span class="num">2018 Q1</span>
      					<h2 class="title">Lambda technology demonstration and research</h2>
      					<ul>
      						<li>Choose an appropriate blockchain consensus mechanism, determine to adopt the high-speed chain design of the Sharding program, and the HoneyBadgerBFT consensus algorithm of the subchain</li>
      						<li>Determine to adopt multi-sub-chain design that Request and Reponse record separately</li>
      						<li>Perfect the separated structural design of the chain storehouses</li>
      						<li>Determine to adopt the data ownership proofs of PDP and access control and encryption mechanisms of ABE</li>
      						<li>Determine the technological route and technological program</li>
      						<li>Complete the technological white paper</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">3</span>
      					<div class="circle-icon ">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
      					<span class="num">2018 Q3</span>
      					<h2 class="title">Lambda core component development</h2>
      					<ul>
      						<li>Evaluate and test the performance of libp2p and devp2p, and modify the code .</li>
      						<li>Implement the underlying data block storage system.</li>
      						<li>Technology validation of Lambda FS by closed-source development of Lambda Chain</li>
      						<li>Community development and real-time open source of Lambda FS </li>
      						<li>Implement Lambda database based on Lambda FS</li>
      						<li>Develop Lambda Agent based on hot language to facilitate integration with existing application</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">4</span>
      					<div class="circle-icon">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
      					<span class="num">2018 Q4</span>
      					<h2 class="title">Lambda Chain test network development</h2>
      					<ul>
      						<li>P2P network development is used to synchronize blockchain ledgers and storage data.</li>
      						<li>Virtual machine development and development and validation of built-in contracts</li>
      						<li>API interface, RPC interface, command line and peripheral tools development</li>
      						<li>Open source Lambda Chain</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">5</span>
      					<div class="circle-icon ">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
      					<span class="num">2019 Q1</span>
      					<h2 class="title">Test network construction and development based on Lambda paradigms</h2>
      					<ul>
      						<li>Build a large-scale test network based on community and conduct comprehensive testing</li>
      						<li>Issue LDA to encourage early community enthusiasts to develop Lambda-based application paradigms</li>
      						<li>Test and correct the security and business vulnerabilities of the application paradigms based on the test network</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">6</span>
      					<div class="circle-icon">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
      					<span class="num">2019 Q2</span>
      					<h2 class="title">Expansion of other data service capabilities and data transactions</h2>
      					<ul>
      						<li>Launched by the Foundation to encourage more data storage and database service capabilities to access the Lambda ecosystem</li>
      						<li>Explore data transactions business scenarios and patterns within the Lambda ecosystem</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
		</div>
	</section>
	<section id="team" class="use team">
		<div class="container">
			<h1>CORE TEAM</h1>
			<!-- <span>CORE TEAM</span> -->
			<div class="row team-wrapper">
				<div class="col-md-2 col-xxs-4">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/hxy.png') %>" alt="">
						</div>
						<p class="name">He Xiaongyang</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/lmn.png') %>" alt="">
						</div>
						<p class="name">Li Monan</p>
					</div>
				</div>
				<!-- <div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/alex.png') %>" alt="">
						</div>
						<p class="name">Alex Lototskiy</p>
					</div>
				</div> -->
				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/hbq.png') %>" alt="">
						</div>
						<p class="name">He Bingqing</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/ghq.png') %>" alt="">
						</div>
						<p class="name">Guo Hongqiang</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/gaohq.png') %>" alt="">
						</div>
						<p class="name">Gao Haiqiang</p>
					</div>
				</div>
				<!-- <div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/Oleg.png') %>" alt="">
						</div>
						<p class="name">Oleg Lyamtsev</p>
					</div>
				</div> -->
				<div class="col-md-2 col-xxs-4 ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/zhj.png') %>" alt="">
						</div>
						<p class="name">Zhao Haijun</p>
					</div>
				</div>
			</div>
			<h1>ADVISOR
				<!-- <span>ADVISOR</span> -->
			</h1>
			<div class="row team-wrapper team-wrapper2">
				<div class="col-md-2 col-xxs-4  ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/tj.png') %>" alt="">
						</div>
						<p class="name">Tian Jia</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/szy.png') %>" alt="">
						</div>
						<p class="name">Sun Zhongying</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/lch.png') %>" alt="">
						</div>
						<p class="name">Liu Chunhua</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/wt.png') %>" alt="">
						</div>
						<p class="name">Wang Tao</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/cy.png') %>" alt="">
						</div>
						<p class="name">Cheng Yuan</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-4  ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../../img/index/BM.png') %>" alt="">
						</div>
						<p class="name">BMAN Lee</p>
					</div>
				</div>
			</div>
		</div>
	</section>
<section id="partners" class="use partners">
	<div class="container">
		<h1>Investor</h1>
		<!-- <span>PARTNERS</span> -->
		<div class="row partners-wrapper">
			<!-- <div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo">
					<img src="<%= require('../../../img/index/apache.png') %>" alt="">
				</div>
			</div> -->
			<!-- <div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo">
					<img src="<%= require('../../../img/index/oneapm.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/index/yfy.png') %>" alt="">
				</div>
			</div> -->
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/1_zhenge.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/2_daduhui.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/3_DFund.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/4_ceyuan.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/5_fanzheng.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/6_BlockVC.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/1.yingbiziben.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/2.kosmos.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/3.NGC.png') %>" alt="">
				</div>
			</div>


			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/7_IOST.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/8_DATA.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/4.timestamp.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/5.feiniaoshequ.png') %>" alt="">
				</div>
			</div>
			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/6.xinglianziben.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/8.hongan.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/11_jiduziben.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/9_H-CAPITAL.png') %>" alt="">
				</div>
			</div>


			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/10_sparkcapital.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/7.bluehill.png') %>" alt="">
				</div>
			</div>

			<div class="partners768  col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 ">
				<div class="partners-logo partners-logoyfy">
					<img class="yfy" src="<%= require('../../../img/partner/9.tokenmania.png') %>" alt="">
				</div>
			</div>












		</div>
	</div>
</section>
<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
