<footer>
	<div class="container">
		<div class="contents">
			<div class="logo">
				<img src="<%= require('../../img/logowhite.svg') %>" alt="">
			</div>
			<div class="info">
				<div class="about">
					<% if(pageId == 'indexEn'){ %>
						<ul>
							<li class="mao"><a  href="javascript:;" >Application Scenarios</a></li>
							<li class="mao"><a  href="javascript:;" >Working Principle</a></li>
							<li class="mao"><a  href="javascript:;" >Ecosystems</a></li>
							<li class="mao"><a  href="javascript:;" >RoadMap</a></li>
							<li class="mao"><a  href="http://blog.lambda.im/" >Blog</a></li>
						</ul>
					<% } else {%>
						<ul>
							<li class="mao"><a  href="javascript:;" >使用场景</a></li>
							<li class="mao"><a  href="javascript:;" >工作原理</a></li>
							<li class="mao"><a  href="javascript:;" >生态系统</a></li>
							<li class="mao"><a  href="javascript:;" >路线图</a></li>
							<li class="mao"><a  href="http://blog.lambda.im/" >博客</a></li>
						</ul>
					<% } %>
				</div>
				<div class="contact">
					<!-- <h3 class="title">联系我们</h3> -->
					<ul>
						<li><a href="https://t.me/HelloLambda" target="_blank"><img src="<%= require('../../img/index/telegram.png') %>"/></a></li>
						<li><a href="https://twitter.com/Lambdaim" target="_blank"><img src="<%= require('../../img/index/twitter.png') %>"/></a></li>
						<li class="wechatitem">
							<a href="https://mp.weixin.qq.com/s/rW3pOxzJwI1HXrTESTYxWA" target="_blank"><img src="<%= require('../../img/index/wechat.png') %>"/></a>
							<img style="width:100px" class="wechatQRcode"  src="<%= require('../../img/index/wechartrq.jpg') %>"/>
						</li>
						<li><a href="https://www.facebook.com/Lambdaim" target="_blank"><img src="<%= require('../../img/index/facebook.png') %>"/></a></li>
						<li><a href="https://www.linkedin.com/company/lambdaim" target="_blank"><img src="<%= require('../../img/index/linkedin.png') %>"/></a></li>
						<li><a href="https://www.weibo.com/lambdaim?is_all=1" target="_blank"><img src="<%= require('../../img/index/weibo.png') %>"/></a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
