<footer>
	<div class="container">
		<div class="contents">
			<div class="logo">
				<img src="<%= require('../../img/logowhite.svg') %>" alt="lambda">
			</div>
			<div class="info">
				<div class="about">
						<ul>
							<li class="mao"><a  href="#scene" ><%=lang.foot.menu1%></a></li>
							<li class="mao"><a  href="#principle" ><%=lang.foot.menu2%></a></li>
							<li class="mao"><a  href="#ecosystem" ><%=lang.foot.menu3%></a></li>
							<li class="mao"><a  href="#tokensale" ><%=lang.foot.menu4%></a></li>
							<li class="mao"><a  href="#roadmap" ><%=lang.foot.menu5%></a></li>
							<li class="mao"><a  href="https://blog.lambda.im/" ><%=lang.foot.menu6%></a></li>
							<li class="mao"><a  href="mailto:info@lambda.im" ><%=lang.foot.menu7%></a></li>
						</ul>
				</div>
				<div class="contact">
					<!-- <h3 class="title">联系我们</h3> -->
					<ul>
						<li><a href="https://t.me/HelloLambda" target="_blank"><img alt="telegram" src="<%= require('../../img/index/telegram.png') %>"/></a></li>
						<li><a href="https://twitter.com/Lambdaim" target="_blank"><img alt="twitter" src="<%= require('../../img/index/twitter.png') %>"/></a></li>
						<li class="wechatitem">
							<a href="https://mp.weixin.qq.com/s/rW3pOxzJwI1HXrTESTYxWA" target="_blank"><img alt="wechat" src="<%= require('../../img/index/wechat.png') %>"/></a>
							<img alt="wechat" style="width:100px" class="wechatQRcode"  src="<%= require('../../img/index/wechartrq.jpg') %>"/>
						</li>
						<li><a href="https://www.facebook.com/Lambdaim" target="_blank"><img alt="facebook" src="<%= require('../../img/index/facebook.png') %>"/></a></li>
						<li><a href="https://www.linkedin.com/company/lambdaim" target="_blank"><img alt="linkedin" src="<%= require('../../img/index/linkedin.png') %>"/></a></li>
						<li><a href="https://www.weibo.com/lambdaim?is_all=1" target="_blank"><img alt="weibo" src="<%= require('../../img/index/weibo.png') %>"/></a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121455265-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121455265-1');


</script>
</footer>
